DATABASE_URL=postgresql+asyncpg://user:pass@host/dbname
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
BOT_TOKEN=
SECRET_KEY=your_random_jwt_secret_min_32_chars_here
ENCRYPTION_KEY=your_fernet_base64_key_44_chars_here
